* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Outfit";
  src: url("../assets/font/Outfit-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("../assets/font/Outfit-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("../assets/font/Outfit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("../assets/font/Outfit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Ovo";
  src: url("../assets/font/Ovo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("../assets/font/Outfit-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

:root {
  --primary-font: "Ovo", serif;
  --secondary-font: "Outfit", serif;
  --title-size: 48px;
  --title-secondary: 18px;
  --primary-fontsize: 16px;
  --button-padding: 16px 8px;
}

body {
  background: fixed url(../assets/img/png/header-bg-color.png) no-repeat
    center/cover;
  overflow-x: hidden;
}
.background-image {
  position: fixed;
  opacity: 0.4;
  top: 0;
  right: 0;
  width: 91.666667%;
  z-index: -10;
  transform: translateY(-80%);
  display: block;
}
html {
  scroll-behavior: smooth;
}

// display  flex
@mixin flex {
  display: flex;
  align-items: center;
}

// for normal text
@mixin Ovoregular-400 {
  font-family: "Ovo", serif;
  font-weight: 400;
  font-size: var(--primary-fontsize);
}

// for title text
@mixin Ovotitle-400 {
  font-family: "Ovo", serif;
  font-weight: 400;
  font-size: var(--title-size);
}

// for title secondary
@mixin OvotitleSecondary-400 {
  font-family: "Ovo", serif;
  font-weight: 400;
  font-size: var(--title-secondary);
}
// button styles
@mixin buttonStyles {
  @include flex();
  @include Ovoregular-400();
  gap: 8px;
  padding: 16px 28px;
  border: 1px solid rgb(18, 18, 18);
  border-radius: 28px;
  background-color: white;
  cursor: pointer;
  img {
    width: 10px;
  }
}
.bg-img {
  width: 100%;
  display: block;
  opacity: 0.5;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

// navigation menu
nav {
  @include Ovoregular-400();
  @include flex;
  z-index: 10;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  justify-content: space-between;
  padding: 0.5rem 8rem;
  color: black;

  .logo {
    width: 200px;
  }

  ul {
    @include flex;
    gap: 1.5rem;
  }
  .mobile-menu-icon {
    display: none;
  }

  button {
    @include buttonStyles();
  }
  .mobile-items {
    display: none;
  }
}

// hero section
#hero {
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include flex;
  flex-direction: column;
  gap: 1rem;
  img {
    width: 200px;
    animation-name: popup;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
  }
  p {
    @include flex();
    @include OvotitleSecondary-400();
    gap: 10px;
    font-size: 24px;
    img {
      width: 30px;
    }
  }
  h1 {
    @include Ovotitle-400();
    text-align: center;
  }
  .para1 {
    @include Ovoregular-400();
    width: 50%;
    line-height: 30px;
    text-align: center;
  }

  div {
    @include flex();
    gap: 1rem;
    button {
      @include buttonStyles();
      font-family: "Outfit", serif;
      font-weight: 400;
    }
    .contact-btn {
      background: #000;
      color: white;
    }
  }
}

// About section
#about {
  margin-top: 8rem;
  margin-bottom: 2rem;
  padding: 1rem 10rem;
  @include flex();
  flex-direction: column;

  .title {
    text-align: center;
    @include flex();
    flex-direction: column;
    gap: 0.5rem;
    p {
      @include OvotitleSecondary-400();
    }
    h2 {
      @include Ovotitle-400();
    }
  }
  .about-division {
    margin-top: 4rem;
    width: 100%;
    @include flex();
    align-items: start;
    gap: 4rem;
    .image {
      width: 40%;

      img {
        width: 100%;
        border-radius: 25px;
      }
    }
    .about-content {
      @include flex();
      flex-direction: column;
      gap: 2rem;
      align-items: start;
      width: 80%;
      .top {
        @include Ovoregular-400();
        max-width: 80%;
        line-height: 2rem;
      }
      .about-cards {
        @include flex();
        gap: 2rem;
        justify-content: space-evenly;
        margin-top: 2rem;
        .about-card {
          @include flex();
          flex-direction: column;
          gap: 1.3rem;
          align-items: start;
          width: 100%;
          border: 2px solid #6e737a;
          background-color: white;
          padding: 30px 24px;
          border-radius: 25px;
          min-height: 15rem;
          cursor: pointer;
          transition: all 0.2s ease-in;
          img {
            width: 30px;
            margin-top: 1rem;
          }
          .card-title {
            font-family: "Outfit", serif;
            font-weight: 600;
            color: #3f4752;
          }
          .card-detail {
            color: #6e737a;
            font-family: "Outfit", serif;
            font-weight: 400;
            font-size: 14px;
          }
        }
        .about-card:hover {
          box-shadow: rgba(0, 0, 0, 1) 5px 5px;
          transform: translate(-4px, -4px);
        }
      }

      .tools {
        margin-top: 2rem;

        p {
          color: #3f4752;
          margin-bottom: 1rem;
        }
        .tools-logos {
          @include flex();
          gap: 1rem;
          p {
            border: 1px solid #3f4752;
            background-color: white;
            border-radius: 12px;
            cursor: pointer;
            padding: 0.7rem 0.8rem;
            transition: all 0.2s linear;
            place-items: center;
            img {
              width: 30px;
            }
          }
          p:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }
}

// project section
#work {
  margin-top: 8rem;
  margin-bottom: 2rem;
  padding: 1rem 10rem;
  @include flex();
  flex-direction: column;

  .title {
    text-align: center;
    @include flex();
    flex-direction: column;
    gap: 0.5rem;
    p {
      @include OvotitleSecondary-400();
    }
    h2 {
      @include Ovotitle-400();
    }
    .work2 {
      @include Ovoregular-400();
    }
  }

  .projects {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 1rem;
    .project-card {
      transition: all 0.6s ease-out;
      position: relative;
      width: 100%;

      img {
        width: 100%;
      }
      div {
        @include flex();
        gap: 15px;
        position: absolute;
        bottom: 20px;
        width: 80%;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-left: 2rem;
        padding: 1rem;
        text-align: center;
        background: white;
        font-size: 12px;
        cursor: pointer;
        button {
          padding: 6px 13px;
          border-radius: 12px;
          background: white;
          transition: all 0.2s linear;
        }
        button:hover {
          background-color: greenyellow;
          transform: scale(1.05);
        }
        .title {
          font-family: "Outfit", serif;
          font-weight: 500;
          font-size: 14px;
        }
      }
    }
    .project-card:hover {
      transform: scale(1.05);
    }
  }
}

// contact form
#contact {
  margin-top: 8rem;
  margin-bottom: 2rem;
  padding: 1rem 10rem;
  @include flex();
  flex-direction: column;

  .title {
    text-align: center;
    @include flex();
    flex-direction: column;
    gap: 0.5rem;
    p {
      @include OvotitleSecondary-400();
    }
    h2 {
      @include Ovotitle-400();
    }
    .work2 {
      @include Ovoregular-400();
    }
  }

  form {
    margin-top: 4rem;
    width: 50%;
    @include flex();
    flex-direction: column;
    gap: 1rem;
    div {
      @include flex();
      gap: 1rem;
      width: 100%;
      input {
        @include Ovoregular-400();
        width: 100%;
        padding: 14px 12px;
        outline: none;
        border: 1px solid #3f4752;

        border-radius: 8px;
      }
    }
    textarea {
      @include Ovoregular-400();
      width: 100%;
      padding: 14px 12px;
      outline: none;
      border: 1px solid #3f4752;

      border-radius: 8px;
      resize: none;
    }
    button {
      @include buttonStyles();
      img {
        width: 20px;
      }
    }
  }
}

hr {
  // border: 2px solid #6e737a;
  width: 100%;
  height: 2px; /* thickness */
  background-color: #6e737a;
  margin: 20px 0; /* optional spacing */
}
footer {
  margin-top: 8rem;
  margin-bottom: 2rem;
  padding: 1rem 10rem;
  @include flex();
  width: 100%;
  flex-direction: column;
  font-family: "Outfit", serif;
  font-weight: 400;
  img {
    width: 300px;
  }

  .mail {
    @include flex();
    gap: 1rem;
    img {
      width: 25px;
    }
  }
  .footerdetail {
    @include flex();
    width: 100%;
    justify-content: space-between;

    div {
      @include flex();
      gap: 1rem;
    }
  }
}

// small screen
@media only screen and (max-width: 768px) {
  // navigation
  nav {
    position: relative;
    padding: 0.5rem 2rem;
    ul {
      display: none;
    }
    button {
      display: none;
    }
    .mobile-menu-icon {
      display: block;
      cursor: pointer;
      img {
        width: 30px;
      }
    }
    .mobile-menu-icon2 {
      cursor: pointer;
    }
    .mobile-items {
      display: flex;
      align-items: start;
      flex-direction: column;
      position: absolute;
      top: 0rem;
      right: -12.5rem;
      padding: 2rem;
      height: 90vh;
      width: 200px;
      background-color: rgb(254, 242, 227);
      transition: all 0.3s linear;
    }
    #mobile-toggle:checked ~ .mobile-items {
      right: 0;
    }
  }
  #hero {
    .para1 {
      width: 80%;
    }
    div {
      margin-top: 1rem;
    }
  }

  // about section
  #about {
    padding: 0.5rem 2rem;
    .about-division {
      flex-direction: column;
      .image {
        width: 100%;
        img {
          width: 100%;
        }
      }
      .about-content {
        align-items: center;
        width: 100%;

        .top {
          max-width: 100%;
        }

        .about-cards {
          flex-direction: column;
        }

        .tools {
          width: 90%;
        }
      }
    }
  }

  // work section
  #work {
    padding: 0.5rem 2rem;

    .projects {
      grid-template-columns: repeat(1, 1fr);
      width: 70%;
    }
  }
  #contact {
    padding: 0.5rem 2rem;
    form {
      width: 100%;
    }
  }
  footer {
    padding: 0.5rem 2rem;
  }
}

// medium screen
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  // about section
  #about {
    padding: 0.5rem 2rem;
    .about-division {
      flex-direction: column;
      .image {
        width: 100%;
        @include flex();
        justify-content: center;
        img {
          width: 60%;
        }
      }
      .about-content {
        align-items: center;
        width: 100%;
      }
    }
  }

  // work section
  #work {
    padding: 0.5rem 2rem;

    .projects {
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
    }
  }
  #contact {
    form {
      width: 80%;
    }
  }
}

